:root {
    --primary-font-color: #2B3700;
    --secondary-font-color: #101500;
    --secondary-color: #fff;
    --primary-font-size: 2.5rem;
    --secondary-font-size: 1.125rem;
    --base-margin: 3.125rem;
}

.first-block {
    background-size: cover;
    background-position: center;
}

.first-block .row {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.first-block .container {
    padding-left: 0;
    padding-right: 0;
}

.first-block img {
    max-width: 100%;
    height: auto;
}

.first-block .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-block .title-image {
    display: block;
    margin: 0 auto 1.5625rem;
}

.first-block .text-1,
.first-block .text-2 {
    font-size: var(--primary-font-size);
    margin-bottom: var(--base-margin);
    color: var(--primary-font-color);
    text-align: center;
}

.second-block {
    background-size: cover;
    background-position: center;
    padding: 3.125rem 0;
}

.second-block .content {
    text-align: center; 
    max-width: 60rem;
    margin: 0 auto; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.second-block h2 {
    font-size: 2.5em;
    margin-bottom: 4rem;
    color: var(--secondary-font-color);
}

.second-block p {
    font-size: 1.25em; 
    margin-bottom: 2.5rem;
    color: var(--secondary-font-color);
}

@media (max-width: 575.98px) {
    .first-block .text-1,
    .first-block .text-2 {
        font-size: 1.25rem;
        margin-bottom: 1.5625rem;
    }
}

@media (min-width: 992px) {
    .first-block .row {
        display: flex;
    }

    .first-block .col-md-6:first-child {
        flex: 2;
    }

    .first-block .col-md-6:last-child {
        flex: 3;
    }

    .first-block .text-1,
    .first-block .text-2 {
        font-size: 2rem;
    }

    .second-block h2 {
        font-size: 2.25em;  /* Optional size adjustment */
    }

    .second-block p {
        font-size: 1.125em;  /* Optional size adjustment */
    }
}

.third-block {
    padding: 3.125rem 0; 
}

.carousel-title {
    font-size: 2.5em; 
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--primary-font-color);
}

.carousel {
    margin: 0 auto;
    max-width: 80rem; /* Adjust as needed */
}

.carousel-inner img {
    height: auto;
    max-width: 100%;
}
