:root {
    --primary-font-color: #2B3700;
    --secondary-font-color: #101500;
    --secondary-color: #fff;
    --primary-font-size: 2.5rem;
    --secondary-font-size: 1.125rem;
    --font-ovo: 'Ovo', serif;
    --font-playfair: 'Playfair Display', serif;
    --primary-background-color: #D4DBAF;
    --base-margin: 3.125rem;
}

.first-block {
    background-size: cover;
    background-position: center;
}

.first-block .row {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.first-block .container {
    padding-left: 0;
    padding-right: 0;
}

.first-block img {
    max-width: 100%;
    height: auto;
}

.first-block .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-block .title-image {
    display: block;
    margin: 0 auto 1.5625rem;
}

.first-block .text-1,
.first-block .text-2 {
    font-size: var(--primary-font-size);
    margin-bottom: var(--base-margin);
    color: var(--primary-font-color);
    text-align: center;
    font-family: var(--font-playfair);
}

.match-block {
    background-color: var(--primary-background-color);
    background-size: cover;
    background-position: center;
    padding: 3.125rem 0;
}

.match-block .content {
    text-align: center; 
    max-width: 60rem;
    margin: 0 auto; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.match-block h2 {
    font-size: 2.5em;
    margin-bottom: 4rem;
    color: var(--secondary-font-color);
    font-family: var(--font-playfair);
}

.match-block p {
    font-size: 1.25em; 
    margin-bottom: 2.5rem;
    color: var(--secondary-font-color);
    font-family: var(--font-ovo);
}

@media (max-width: 767px) {
    .first-block .text-1,
    .first-block .text-2 {
        font-size: 1.25rem;
        margin-bottom: 1.5625rem;
        font-family: var(--font-playfair);
    }
}

@media (min-width: 992px) {
    .first-block .row {
        display: flex;
    }

    .first-block .col-md-6:first-child {
        flex: 2;
    }

    .first-block .col-md-6:last-child {
        flex: 3;
    }

    .first-block .text-1,
    .first-block .text-2 {
        font-size: 2rem;
    }
}

.carousel-block {
    padding: 3.125rem 0; 
    background-color: var(--primary-background-color);
}

.carousel-title {
    font-size: 2.5em; 
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--primary-font-color);
    font-family: var(--font-playfair);
}

.carousel-inner {
    display: flex;
    flex-direction: row;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-item img {
    width: 23%;
    height: auto;
    margin-right: 1%;
}

.carousel-item img:last-child {
    margin-right: 0;
}

@media (max-width: 767px) {
    .carousel-item {
        flex-direction: column; /* Stack images vertically */
    }
    .carousel-item img {
        width: 100%; /* Full width for images */
        margin-right: 0;
        margin-bottom: 1%; /* You can adjust this value based on your preference */
    }
    .carousel-item img:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

.carousel-inner .carousel-item {
    position: relative; 
    display: none; 
    flex: 0 0 100%;
}

.carousel-inner .carousel-item.active {
    display: flex;
}


.carousel-control-prev, .carousel-control-next {
    width: 3.5rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 2.5rem; 
    height: 2.5rem; 
    background-size: 2.5rem 2.5rem;
}

.carousel-control-prev {
    left: -2rem;
}

.carousel-control-next {
    right: -2rem;
}


.location-block {
    padding: 3.125rem 0;
    background-color: var(--primary-background-color);
}

.block-title {
    font-size: 2.5em;
    margin-bottom: 2.5rem;
    color: var(--primary-font-color);
    text-align: center;
    font-family: var(--font-playfair);
}

.left-content .location-image {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.address-text {
    font-size: 1.25rem;
    color: var(--secondary-font-color);
    text-align: center;
    font-family: var(--font-ovo);
}

.right-content iframe {
    width: 100%;
    height: 30rem;
}

.faq-block {
    padding: 3.125rem 0;
    background-color: var(--primary-background-color);
}

.faq-title {
    font-size: 3.5em;
    margin-bottom: 2.5rem;
    color: var(--primary-font-color);
    text-align: left;
    font-family: var(--font-playfair);
}

.faq-item {
    margin-bottom: 2.5rem;
}

.question {
    font-size: 1.5em;
    color: var(--primary-font-color);
    margin-bottom: 1rem;
    text-align: left;
    font-family: var(--font-playfair);
}

.answer {
    font-size: 1.25rem;
    color: var(--secondary-font-color);
    text-align: left;
    font-family: var(--font-playfair);
}

.pix-block {
    background-size: cover;
    background-position: center;
    padding: 3.125rem 0;
    text-align: center;
}

.gift-title {
    font-size: 3.5em;
    margin-bottom: 2.5rem;
    color: var(--primary-font-color);
    font-family: var(--font-playfair);
}

.gift-text {
    font-size: 1.5em;
    margin-bottom: 2.5rem;
    color: var(--secondary-font-color);
    text-align: justify center;
    font-family: var(--font-playfair);
}

.pix-image {
    max-width: 50rem;
}

.honey-moon-block {
    padding: 3.125rem 0;
    background-color: var(--primary-background-color);
}

.gift-block {
    margin-bottom: 2.5rem;
    text-align: center;
}

.gift-image {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.gift-text {
    font-size: 1.25em;
    margin-bottom: 1.5rem;
    color: var(--secondary-font-color);
    font-family: var(--font-playfair);
}

.gift-button {
    font-size: 1em;
    color: var(--secondary-color);
    background-color: var(--primary-font-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-playfair);
}

.gift-button:hover {
    color: var(--primary-font-color);
    background-color: var(--secondary-color);
}

.gift-button-link {
    text-decoration: none;
    display: inline-block;
}

.gift-button-link:hover .gift-button {
    color: var(--primary-font-color);
    background-color: var(--secondary-color);
}

.final-block {
    background-size: cover;
    background-position: center;
    padding: 3.125rem 0;
    color: var(--primary-font-color);
}

.final-title {
    font-size: 3em;
    margin-bottom: 7rem;
    font-family: var(--font-playfair);
}

.final-text {
    font-size: 1.5em;
    margin-bottom: 7.5rem;
    font-family: var(--font-playfair);
}

.final-button {
    font-size: 1.5em;
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--primary-font-color);
    color: var(--secondary-color); 
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: var(--font-playfair);
}

.final-button:hover {
    color: var(--primary-font-color);
    background-color: var(--secondary-color);
}

section {
    background-size: 100% 100%;
    box-sizing: border-box;
}