:root {
    --primary-font-color: #2B3700;
    --secondary-font-color: #101500;
    --secondary-color: #fff;
    --primary-background-color: #D4DBAF;
    --primary-font-size: 2.5rem;
    --secondary-font-size: 1.125rem;
    --base-margin: 3.125rem;
}

.first-block {
    background-size: cover;
    background-position: center;
}

.first-block .row {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.first-block .container {
    padding-left: 0;
    padding-right: 0;
}

.first-block img {
    max-width: 100%;
    height: auto;
}

.first-block .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-block .title-image {
    display: block;
    margin: 0 auto 1.5625rem;
}

.first-block .text-1,
.first-block .text-2 {
    font-size: var(--primary-font-size);
    margin-bottom: var(--base-margin);
    color: var(--primary-font-color);
    text-align: center;
}

.second-block {
    background-size: cover;
    background-position: center;
    padding: 3.125rem 0;
}

.second-block .content {
    text-align: center; 
    max-width: 60rem;
    margin: 0 auto; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.second-block h2 {
    font-size: 2.5em;
    margin-bottom: 4rem;
    color: var(--secondary-font-color);
}

.second-block p {
    font-size: 1.25em; 
    margin-bottom: 2.5rem;
    color: var(--secondary-font-color);
}

@media (max-width: 575.98px) {
    .first-block .text-1,
    .first-block .text-2 {
        font-size: 1.25rem;
        margin-bottom: 1.5625rem;
    }
}

@media (min-width: 992px) {
    .first-block .row {
        display: flex;
    }

    .first-block .col-md-6:first-child {
        flex: 2;
    }

    .first-block .col-md-6:last-child {
        flex: 3;
    }

    .first-block .text-1,
    .first-block .text-2 {
        font-size: 2rem;
    }
}

.third-block {
    padding: 3.125rem 0; 
    background-color: var(--primary-background-color);
}

.carousel-title {
    font-size: 2.5em; 
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--primary-font-color);
}

.carousel-inner {
    display: flex;
    flex-direction: row;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-item img {
    width: 23%;
    height: auto;
    margin-right: 1%;
}

.carousel-item img:last-child {
    margin-right: 0;
}

.carousel-inner .carousel-item {
    position: relative; 
    display: none; 
    flex: 0 0 100%;
}

.carousel-inner .carousel-item.active {
    display: flex;
}


.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.fourth-block {
    padding: 3.125rem 0;
    background-color: var(--primary-background-color);
}

.block-title {
    font-size: 2.5em;
    margin-bottom: 2.5rem;
    color: var(--primary-font-color);
}

.left-content .location-image {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.address-text {
    font-size: 1.25rem;
    color: var(--secondary-font-color);
}

.right-content iframe {
    width: 100%;
    height: 25rem;
}

