:root {
    --primary-color: #2B3700;
    --secondary-color: #fff; /* adjust as needed */
    --primary-font-size: 2.5rem;
    --secondary-font-size: 1.125rem; /* adjust as needed */
    --base-margin: 3.125rem;
}

.first-block {
    background-size: cover;
    background-position: center;
}

.first-block .row {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.first-block .container {
    padding-left: 0;
    padding-right: 0;
}

.first-block img {
    max-width: 100%;
    height: auto;
}

.first-block .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-block .title-image {
    display: block;
    margin: 0 auto 1.5625rem;
}

.first-block .text-1,
.first-block .text-2 {
    font-size: var(--primary-font-size);
    margin-bottom: var(--base-margin);
    color: var(--primary-color);
    text-align: center;
}

@media (max-width: 575.98px) {
    .first-block .text-1,
    .first-block .text-2 {
        font-size: 1.25rem; /* 40px -> 20px */
        margin-bottom: 1.5625rem; /* 50px -> 25px */
    }
}

@media (min-width: 992px) {  /* This targets Bootstrap's 'large' breakpoint and above */
    .first-block .row {
        display: flex;
    }

    /* Left Image Column */
    .first-block .col-md-6:first-child {
        flex: 2;  /* Takes up 2 parts of the available space */
    }

    /* Right Text Column */
    .first-block .col-md-6:last-child {
        flex: 3;  /* Takes up 3 parts of the available space */
    }

    .first-block .text-1,
    .first-block .text-2 {
        font-size: 2rem;
    }
}


